$primary-bg-color: rgb(207 196 192);
$border-radius: 100px; /* Rounded corners */
$calc-btn-color: rgb(148 131 123);
$calc-btn-hover-color: rgb(118 104 98);
$calc-btn-text-color: #fff;
$calc-btn-font-size: 16px;
$text-color: rgb(148 131 123);
$font-family-title: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", arial, sans-serif;
$font-family-body: "Trebuchet MS", arial, helvetica, sans-serif;
$border-color: 1px solid #000;
$carousel-route-frame-border: 2px solid black;
$carousel-route-frame-bg-color: rgb(73 95 101 / 50%);
