$primary-bg-color: rgb(207, 196, 192);
$calc-btn-color: rgb(148, 131, 123);
$calc-btn-hover-color: rgb(118, 104, 98);
$calc-btn-text-color: #fff;
$calc-btn-font-size: 16px;
$text-color: rgb(148, 131, 123);
$font-family-title: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$font-family-body: "Trebuchet MS", Arial, Helvetica, sans-serif;
$border-color: black;
