$primary-bg-color: rgb(207, 196, 192);
$text-color: rgb(148, 131, 123);
$font-family-title: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
$font-family-body: Arial, Helvetica, sans-serif;
$border-color: black;