{
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "parser": "scss",
          "scss": {
            "atRuleNoUnknown": [
              true,
              {
                "ignoreAtRules": ["import"]
              }
            ]
          }
        }
      }
    ]
  }