$font-family-routes: "Geologica", sans-serif;

$main-color: rgb(148 131 123);
$main-color-dark: rgb(118, 104, 98);
$title-color: #fff;
$accent-color: #4e6e75;
$main-bg-color: rgb(207 196 192);
$main-bg-color-dark:#968179;

//Table backs
$tb-1: #b2a7a3;
$tb-2:  #928986;
$tb-3: #857d7a;
$tb-4: #686260;

