.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $primary-bg-color;

  /* overflow: hidden; /* Prevent unnecessary scrollbars */
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 10%;
}

.section-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex: 1;
}

.section-left,
.section-right {
  flex: 1;
  border: $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-divider {
  border-left: 2px dashed #000;
  margin: 0 10px;
  height: auto;
}

.results-page {
  display: none; /* Initially hidden */
  padding: 20px;
  background-color: $primary-bg-color;
}
