.calculate-button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: $calc-btn-font-size; /* Button font size */
  background-color: $calc-btn-color; /* Button background color */
  color: $calc-btn-text-color; /* Button text color */
  border: none; /* Remove default border */
  border-radius: 100px; /* Rounded corners */
  cursor: pointer;
  // text-align: center;
  // display: inline-block;
  width: 150px;
}

.calculate-button:hover {
  background-color: $calc-btn-hover-color;
}
