.dot-arrow {
  display: inline-block;
}

.vertical-dash {
  border-left: 2px dashed $border-color;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 0;
}

.svg-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.svg-icon {
  width: 75%;
  height: auto;
}

.svg-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 25px;
}
