//Weather Slider
.weather-slider {
  margin: auto;
  margin-bottom: 70px;

  .rs-range-color,
  .rs-path-color,
  .rs-bg-color {
    background: none;
  }

  .rs-border {
    border: 0px;
  }
}

.wind-slider {
  background-image: url('../assets/compass.png');
  background-size: cover;

  .rs-handle {
    background-image: url('../assets/compass-arrow.png');
    background-color: transparent !important;
    width: 30px !important;
    height: 30px !important;
    margin: -21px -36px 0px !important;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}

.speed-slider{
  background-image: url('../assets/windspeed.png');
  background-size: cover;

  .rs-handle {
    background-image: url('../assets/speed-arrow.png');
    background-color: transparent !important;
    width: 93px !important;
    height: 299px !important;
    margin: -182px 77px 0px !important;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}


//Select route and weather
.routes-menu{

  h3 {
    font-weight: 500;
    font-size: 20px;
    color: $main-color;
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 70px;
  }

  h5{
    color: $main-color;
    font-size: 17px;
    text-align: center;
    margin-bottom: 55px;
  }

  &-right{
    border-left: 2px dashed #000;  
    @media screen and (max-width:   992px) {
     border-left: 0px;
     border-top:2px dashed #000;
     margin-top: 20px !important;
     padding-top: 40px;
    }
  }

  //Menu to select island
  .island-list {
    margin-top: 70px;
    height: 550px;
    overflow-y: scroll;
    margin-right: 50px;

    .island {
      width: 90%;
      float: right;
      padding: 10px 40px 10px 160px;
      cursor: pointer;
      height: 90px;
      margin-right: 20px;

      @media only screen and (max-width: 1200px) {
        padding: 10px 40px 10px 40px;
      }

      &.selected-up,
      &.selected-down,
      &.hovered-up,
      &.hovered-down {
        background: $accent-color;
      }

      &.hovered-up,
      &.selected-up {
        border-radius: 80px 80px 0px 0px;
        border: 3px solid #000;
        border-bottom: 0px;
      }

      &.hovered-down,
      &.selected-down {
        border-radius: 0px 0px 80px 80px;
        border: 3px solid #000;
        border-top: 0px;
        margin-top: -1px;
      }

      h4 {
        color: #fff;
        text-transform: uppercase;
        float: left;
        margin-left: 60px;
        font-weight: bold;
        font-size: 22px;
        line-height: 60px;
      }

      &-icon{
        width: 60px;
        height: 60px;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  //Calculate CTA
  .calculate-button {
    font-family: $font-family-routes;
    padding: 18px 35px 18px 70px;
    font-size: 22px;
    background-color: $main-color;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-transform: uppercase;
    margin: auto;
    display: block;
    position: relative;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.8;
      &:hover {
        background-color: $main-color;
      }
    }

    &:hover {
      background-color: $main-color-dark;
    }

    img {
      position: absolute;
      width: 40px;
      left: 13px;
      top: 14px;

    }
  }

}